extends layout
block head
  meta(property="fb:app_id" content="577526692304758")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Go into the woods")
  if trail
    - description = _(trail.description).chain().strip().truncate(280).value() + ' - wta.org'
    meta(property="og:description" content=description)
    if trail.image_url
      meta(property="og:image" content=trail.image_url)
  else
    meta(property="og:description" content="Go hiking this weekend. Explore, filter and find trails from around Washington state.")
    meta(property="og:image" content="http://www.gointothewoods.com/images/og_image.jpg")

  meta(name="viewport" content="width=1000")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

  != css('map')
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
  != css('slider')
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
  != js('map')
  script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
  != js('bootstrap-slider')

block title
  if trail
    = trail.long_name
  else
    | Find Trails
block body
  #map

  #side-bar
    .content

      .trail.hidden
        a.go_back(href="#") &laquo; find more trails
        .details

      .controls.hidden
        h3
          img.logo(src="/images/leaf.png")
          | Find Trails

        input#search(type="text" placeholder="Search")

        .sliders
          .control#roundtrip_m_slider
            input
            .value
            .label_c Roundtrip
            .clear
          .control#trip_reports_count_slider
            input
            .value 
            .label_c Trip Reports
            .clear
          .control#elevation_gain_ft_slider
            input
            .value
            .label_c Elevation Gain
            .clear
          .control#elevation_highest_ft_slider
            input
            .value
            .label_c Elevation Peak
            .clear

        .note
          .app_by
            | app by&nbsp;
            a(href="http://shuw.github.io" target="_blank") shuw

          .disclaimer
            | data from&nbsp;
            a(href="http://www.wta.org/" target="_blank") wta.org
          .clear

        #sharing
          .fb-like(
            data-href="https://www.facebook.com/findtrails"
            data-width="220"
            data-layout="standard"
            data-show-faces="true"
            data-send="false")


        #search_results
          .title
          .top

